html {
    scroll-behavior: smooth;
}

/*section1*/
#infoSectionContainer {
    height: 70vh;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.infoH1 {
    text-align: center;
    font-size: 32px;
}

#titleLine {
    width: 91px;
    height: 11px;
    margin-top: -15px;
}

#flowContainer {
    width: 1000px;
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}

.line {
    position: absolute;
    height: 6px;
    /* Thickness of the line */
    width: 150px;
    /* Length of the dotted line */
    transform: translate(-50%, -50%);
    /* Center the line */
    top: 44%;
}

#line1 {
    left: 37%;
    /* Start from the center of the first circle */
}

#line2 {
    left: 50%;
    /* Start from the center of the first circle */
}

#line3 {
    left: 63%;
    /* Start from the center of the first circle */
}

.lineInfo {
    position: absolute;
    top: 42.5%;
}

.lineInfo1 {
    left: 31.5%;
}

.lineInfo2 {
    left: 58%;
}

p {
    width: 200px;
}

.flowTextTitle {
    font-size: 20px;
    font-weight: bold;
}

.flowTextPara {
    font-size: 16px;
    margin: 0px;
    text-align: left;
}

/*section2*/
#authContainer {
    width: 1000px;
    margin-top: 80px !important;
    display: grid;
    margin: 0 auto;
    max-width: 760px;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(50px, auto);
    grid-gap: 20px;
}

.authTitle {
    position: absolute;
    font-size: 32px;
    background-color: white;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    color: #4D84B8;
    font-weight: 500;
}

.authInfo {
    position: absolute;
    font-size: 18px;
    width: 258px;
    text-align: left;
}

.authTitle1 {
    top: 102.5%;
    left: 37%;
}

.authInfo1-1 {
    top: 115%;
    left: 34%;
}

.authInfo1-2 {
    top: 118%;
    left: 34%;
}

.authTitle2 {
    top: 102.5%;
    left: 56%;
}

.authInfo2 {
    top: 113%;
    left: 54%;
}

.authTitle3 {
    top: 131%;
    left: 35%;
}

.authInfo3-1 {
    top: 140%;
    left: 33.5%;
}

.authInfo3-2 {
    top: 143%;
    left: 33.5%;
}

.authInfo3-3 {
    top: 146%;
    left: 33.5%;
}

.authInfo3-4 {
    top: 149%;
    left: 33.5%;
}

.authTitle4 {
    top: 131%;
    left: 55.5%;
}

.authInfo4-1 {
    top: 141%;
    left: 54%;
}

.authInfo4-2 {
    top: 144%;
    left: 54%;
}

.authInfo4-3 {
    top: 147%;
    left: 54%;
}

.authInfo4-4 {
    top: 150%;
    left: 54%;
}

/*section3*/
#drawContainer {
    width: 1205px;
    display: grid;
    margin-top: 80px !important;
    margin: 0 auto;
    max-width: 1205px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(50px, auto);
    grid-gap: 20px;
}

.drawTitle {
    position: absolute;
    font-size: 32px;
    background-color: white;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    color: #4D84B8;
    font-weight: 500;
}

.drawInfo {
    position: absolute;
    font-size: 18px;
    width: 258px;
    text-align: left;
}

.drawTitle1 {
    top: 193%;
    left: 24%;
}

.drawInfo1-1 {
    top: 203%;
    left: 22.5%;
}

.drawInfo1-2 {
    top: 206%;
    left: 22.5%;
}

.drawInfo1-3 {
    top: 209%;
    left: 22.5%;
}

.drawInfo1-4 {
    top: 212%;
    left: 22.5%;
}

.drawTitle2 {
    top: 193%;
    left: 44.5%;
}

.drawInfo2 {
    top: 208%;
    left: 43.5%;
}

.drawTitle3 {
    top: 193%;
    left: 65%;
}

.drawInfo3-1 {
    top: 204%;
    left: 65.5%;
}

.drawInfo3-2 {
    top: 207%;
    left: 65.5%;
}

.drawInfo3-3 {
    top: 210%;
    left: 65.5%;
}

/*section4*/
#payContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px !important;
}

#payContainer div svg {
    margin-left: 30px;
    margin-bottom: 25px;
}

.payTitle {
    font-size: 30px;
    width: auto;
    color: #4D84B8;
    position: absolute;
}

.payTitle1 {
    top: 269%;
    left: 46%;
}

.payTitle2 {
    top: 281%;
    left: 46%;
}

.payTitle3 {
    top: 293%;
    left: 46%;
}

/*Responsive*/
@media only screen and (max-width: 600px) {

    /*section1*/
    #infoSectionContainer {
        padding: 0px;
        height: auto;
        margin-top: 40px;
        margin-bottom: 0px;
    }

    #flowContainer {
        width: 90vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        height: auto;
    }

    .line {
        display: none;
    }

    .lineInfo {
        display: none;
    }

    .flowText {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }

    .flowTextPara {
        width: 85vw;
    }

    /*section2*/
    #authContainer {
        width: 95vw;
        margin-top: 80px !important;
        max-width: 95vw;
        grid-template-columns: repeat(1, 1fr);
    }

    .authTitle1 {
        top: 151.5%;
        left: 39%;
    }

    .authInfo1-1 {
        top: 163%;
        left: 30%;
    }

    .authInfo1-2 {
        top: 166%;
        left: 30%;
    }

    .authTitle2 {
        top: 180%;
        left: 34%;
    }

    .authInfo2 {
        top: 189.5%;
        left: 27%;
    }

    .authTitle3 {
        top: 208%;
        left: 33%;
    }

    .authInfo3-1 {
        top: 217%;
        left: 27%;
    }

    .authInfo3-2 {
        top: 220%;
        left: 27%;
    }

    .authInfo3-3 {
        top: 223%;
        left: 27%;
    }

    .authInfo3-4 {
        top: 226%;
        left: 27%;
    }

    .authTitle4 {
        top: 236%;
        left: 33%;
    }

    .authInfo4-1 {
        top: 247%;
        left: 27%;
    }

    .authInfo4-2 {
        top: 250%;
        left: 27%;
    }

    .authInfo4-3 {
        top: 253%;
        left: 27%;
    }

    .authInfo4-4 {
        top: 256%;
        left: 27%;
    }

    /*section3*/
    #drawContainer {
        width: 90vw;
        max-width: 90vw;
        grid-template-columns: repeat(1, 1fr);
    }

    .drawTitle1 {
        top: 286%;
        left: 33%;
    }

    .drawInfo1-1 {
        top: 297%;
        left: 28%;
    }

    .drawInfo1-2 {
        top: 300%;
        left: 28%;
    }

    .drawInfo1-3 {
        top: 303%;
        left: 28%;
    }

    .drawInfo1-4 {
        top: 306%;
        left: 28%;
    }

    .drawTitle2 {
        top: 314.5%;
        left: 29%;
    }

    .drawInfo2 {
        top: 329%;
        left: 25%;
    }

    .drawTitle3 {
        top: 342.5%;
        left: 25%;
        width: auto;
    }

    .drawInfo3-1 {
        top: 354%;
        left: 29%;
    }

    .drawInfo3-2 {
        top: 357%;
        left: 29%;
    }

    .drawInfo3-3 {
        top: 360%;
        left: 29%;
    }

    /*section4*/

    #payContainer div svg {
        margin-left: 20px;
        margin-bottom: 25px;
    }

    .payTitle {
        font-size: 30px;
        width: auto;
        color: #4D84B8;
        position: absolute;
    }

    .payTitle1 {
        top: 397%;
        left: 33%;
    }

    .payTitle2 {
        top: 408.5%;
        left: 33%;
    }

    .payTitle3 {
        top: 420.5%;
        left: 33%;
    }
}