hr {
    width: 147px;
}
  
.nav-bar-open.visible {
    opacity: 1;
  }

.nav-bar-open {
    width: 147px;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 147px;
    margin-right: 5%;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
    z-index: 99;
    box-shadow: 0 4px 4px rgb(0,0,0,0.5);
    font-weight: 500;
    background-color: rgb(239, 239, 239, 0.9);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}