#SNSContainer {
    display: flex !important;
    flex-direction: column !important;
    position: fixed;
    bottom: 10%;
    right: 5%;
    z-index: 99;
    cursor: pointer;
    text-align: right;
}

#SNSContainer .SNSIcon {
    height: 39.26px !important;
    width: 39.26px !important;
}

#SNSContainer .SNSIcon:hover {
    height: 60px !important;
    width: 60px !important;
}